<input type="button" onclick="location.href='index.html';" value="Go To Sensor" />
<input type="button" onclick="location.href='drawing.html';" value="Go To Table" />
<script type="text/javascript" src="jquery.min.js"></script>
<script type="text/javascript" src="moment.js"></script>
<script type="text/javascript" src="daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="daterangepicker.css" />

:
<input type="text" name="datetimes" />
<span id='date'></span>

<script>
    $(function () {
        $('input[name="datetimes"]').daterangepicker({
            timePicker: true,
            timePicker24Hour: true,
            showCustomRangeLabel: false,
            //startDate: moment().startOf('hour'),
            //endDate: moment().startOf('hour').add(32, 'hour'),
            locale: {
                format: 'DD/MM/YY hh:mm '
            }

        },
            function (start, end, label) {
                var years = moment().diff(start, 'years');
                var firstDate = start.format('DD-MM-YYYY');
                var lastDate = end.format('DD-MM-YYYY');
                var firstTime = start.format("HH:mm");
                var lastTime = end.format("HH:mm");
                console.log(firstTime);
                console.log(lastTime);
                fetch('/test', {
                    method: 'POST',
                    body: JSON.stringify({
                        date: firstDate + ";" + lastDate,
                        time: firstTime + ";" + lastTime
                    }),
                    headers: {
                        'Content-type': 'application/json; charset=UTF-8'
                    }
                }).then(function (response) {
                    if (response.ok) {
                        return response.json();
                    }
                    return Promise.reject(response);
                }).then(function (data) {
                    var dps = [];
                    var dps2 = [];
                    var chart = new CanvasJS.Chart("chartContainer", {
                        exportEnabled: true,
                        title: {
                            text: "Sensor Graph"
                        },
                        axisY: {
                            title: "Temperature"
                        },
                        axisY2: {
                            title: "Humidity"
                        },
                        axisX: {
                            title: "Time"
                        },
                        data: [{
                            type: "spline",
                            markerSize: 0,
                            dataPoints: dps
                        },
                        {
                            type: "spline",
                            axisYType: "secondary",
                            markerSize: 0,
                            dataPoints: dps2
                        }]
                    });

                    var xVal = 0;
                    var yVal = 0;
                    var updateInterval = 0;
                    var dataLength = 10; // number of dataPoints visible at any point

                    var updateChart = function (count) {
                        count = count || 1;
                        // count is number of times loop runs to generate random dataPoints.
                        for (var j = 0; j < data.length; j++) {
                            //yVal = data[j].Temperature; 
                            dps.push({ x: xVal, y: data[j].Temperature, label: data[j].Time });
                            dps2.push({x: xVal, y: data[j].Humidity, label: data[j].Time});
                            console.log(j);
                            xVal++;
                        } if (dps.length > dataLength) {
                            dps.shift();
                            dps2.shift();
                        }
                        chart.render();

                    };

                    updateChart(dataLength);
                    //setInterval(function () { updateChart() }, updateInterval);

                }).catch(function (error) {
                    console.warn('Something went wrong.', error);
                });
            });
    });
</script>



<body>
    <div id="chartContainer" style="height: 370px; width:100%;"></div>
    <script src="canvasjs.min.js"></script>
</body>

</html>